<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <section name="assemblyResolve" type="Elektra.Services.Loader.Configuration.Assembly.AssemblyResolveSection,Elektra.Services.Loader,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
    <section name="applicationConfigurationManagement" type="Microsoft.ApplicationBlocks.ConfigurationManagement.ConfigurationManagerSectionHandler,Microsoft.ApplicationBlocks.ConfigurationManagement, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
    <section name="ConfiguracionC3" type="Microsoft.ApplicationBlocks.ConfigurationManagement.XmlHashtableSectionHandler,Microsoft.ApplicationBlocks.ConfigurationManagement,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
    <section name="exceptionManagement" type="Elektra.Services.ExceptionManager.ConfigurationSectionHandler, Elektra.Services.ExceptionManager"/>
    <section name="enterpriselibrary.configurationSettings" type="System.Configuration.IgnoreSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Warning, ActivityTracing" propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
  <applicationConfigurationManagement>
    <configSection name="ConfiguracionC3">
      <configCache enabled="true" refresh="2 * * * *"/>
      <configProvider assembly="Microsoft.ApplicationBlocks.ConfigurationManagement,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" type="Microsoft.ApplicationBlocks.ConfigurationManagement.Storage.SqlStorage" connectionString="7061636B65742073697A653D343039363B757365722069643D534F505445433B6461746120736F757263653D31302E35342E32382E3232363B7065727369737420736563757269747920696E666F3D46616C73653B696E697469616C20636174616C6F673D61646E3B70617373776F72643D534F50544543" getConfigSP="spCFGGetConfiguration" setConfigSP="spinsConfiguration" signed="false" encrypted="false"/>
    </configSection>
  </applicationConfigurationManagement>
  <exceptionManagement>
    <publisher assembly="..\Ensamblados\Elektra.Services.ExceptionManager.DataBaseExceptionPublisher.dll" class="DataBaseExceptionPublisher" generateLog="false" enabled="true"/>
    <errorContext assembly="..\Ensamblados\Elektra.Services.ExceptionManager.WebErrorContext.dll" class="WebErrorContext"/>
    <logPublisher default="false"/>
  </exceptionManagement>
  <assemblyResolve>
    <PathResolve path="E:\aperaltap_Mex_sview\TIENDA\Elektra\Tienda\ElektraFront\bin" searchInSubDir="false"/>
  </assemblyResolve>
  <appSettings>
    <add key="ExceptionManager.FileExceptionPublisher.Path" value="c:\ExceptionLogs\"/>
    <add key="Store" value="0000"/>
    <add key="Moneda" value="c0"/>
    <add key="MonedaS" value="{0:N0}"/>
    <add key="MonedaDecimales" value="N2"/>
    <add key="tiempoEsperaComando" value="300"/>
    <add key="DBStore" value="server=(local);User Id=DESAC3;Password=DESAC3;database=adn"/>
    <add key="ExceptionManager.DataBaseExceptionPublisher.ConnectionString" value="packet size=4096;user id=USRERR;data source=(local);persist security info=True;initial catalog=ADN;password=EXCEPTION"/>
    <add key="ConfigVersion" value="56657273696F6E3D312E302E302E313B43616D62696F3D32303136313B526573706F6E7361626C653D363232393531"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>      
      <basicHttpBinding>
        <binding name="basicHttpBinding_WSSurtimientoEktCom" closeTimeout="00:10:00" openTimeout="00:10:00"
         receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false"
         hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
         messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="Elektra.Servicios.SurtimientoEktCom.WSSurtimientoEktComBehaviour"
        name="Elektra.Servicios.SurtimientoEktCom.WSSurtimientoEktCom">
        <endpoint address="json" behaviorConfiguration="jsonEndpointBehavior"
          binding="webHttpBinding" name="json" contract="Elektra.Servicios.SurtimientoEktCom.IWSSurtimientoEktCom">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" contract="Elektra.Servicios.SurtimientoEktCom.IWSSurtimientoEktCom"  bindingConfiguration="basicHttpBinding_WSSurtimientoEktCom">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="JsonBehavior">
          <webHttp/>
        </behavior>
        <behavior name="web">
          <webHttp/>
        </behavior>
        <behavior name="jsonEndpointBehavior">
          <webHttp/>
        </behavior>

      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Elektra.Servicios.SurtimientoEktCom.WSSurtimientoEktComBehaviour">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
